Package: com.archive.enigma
Name: Enigma Jailed
Depends: mobilesubstrate
Version: 26.2
Architecture: iphoneos-arm
Description: Identity Reset for iOS 26.2 (Jailed)
Maintainer: Archivist
Author: Archivist
Section: Tweaks
